header
{
    display:flex;
    justify-content:center;
}

.header__logo
{   
    position:relative;
    margin:1rem 100px;
    /*background-color:yellow;*/
}

#header__logo_ohmyfood
{
    width:100%;
    height:100%;    
}