/* RAZ */
*
{
    box-sizing: border-box;
}

html, body, ul, li, h1, h2, h3, h4, p, img
{
    margin: 0;
    padding: 0;    
}

body
{
    font-size: 16px;    
    margin:0 auto;
    background-color:#f6f6f6;/*#F2F2F2;*/
}

h1, h2, h3
{
    font-size: 1rem;
    font-family: 'Shrikhand', cursive;
}

p
{
    font-family: 'Roboto', sans-serif;   
}

img
{
    display: block;
}

a
{
    color: black;
    text-decoration: none;
}
 
ul
{
    list-style-type: none;
}

/*  Fin RAZ */

html
{
    scroll-behavior: smooth;
}

/* HEADER */
header
{
    z-index:1;
}
.header
{
    display:flex;
    justify-content:center;
    background-color: white;   
    /*gap:5rem;*/ 
    /*border:solid orange;*/
    position:relative;
}

.header__logo
{   
    position:relative;/*flex:1; width:100%;height:100%;    */margin:1rem 100px;
    /*background-color:yellow;*/ 
    /*min-width:179px;min-height:32px;*/
}

.header__logo_ohmyfood
{
    width:100%;height:100%;    
    /*border:solid pink;*/
}

.pic_fit /*classe générique */
{
    object-fit: cover;   
}

/*header button*/
.retour 
{
    position:absolute;/*margin-top:2.25rem;top:-2.25%;left:5%;*/

    /*padding-left:2rem;*//*margin-top:1.25rem;*//*margin-left:1rem;*/
    min-width:20px; min-height:20px;
    /*font-size: 20px;*/z-index:5;font-size:18px;font-weight:bold;
    /*border:solid purple;*/
    /*top:20px; left:20px;*/
    top:35%;left:5%;
}

header a:hover i
{
    /*font-weight: bolder;
    color: #9356dc;
    transition: transform  1.5s ease-in-out;*/ /* Animation */
    /*transform: scale(2.5);*/
    /*font-size: 20px;*/
    color:#FF79DA;
}



/* section Photo de la table */
/*
https://www.zonecss.fr/faq/les-images-et-les-css.html
Vous pouvez en Css, faire en sorte qu'une image (img) s'adapte en largeur à son conteneur parent. 
Pour cela vous devez utiliser la propriété Css width à 100% sur l'image et préciser la propriété Css height à auto.
*/
.PhotoTable
{
    z-index:1;width:100%; min-height:286px;height:auto;display:flex;
    /*
        https://developer.mozilla.org/fr/docs/Web/CSS/background
        Ici on utilise une seule image, centrée  
        et remise à l'échelle 
        background: no-repeat center/80% url("../img/image.png");
    */
    background: no-repeat center/50% url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: cover;
}    

/* article gastronomie */
.gastronomie
{
    background-color:#f6f6f6;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-color:#f6f6f6;
    z-index:5;
    margin-top:-60px;
    /*border: solid lime;*/
}
.gastronomie__LaCarte
{
    display: flex;
    flex-direction: column;
    /*gap:15px;*/    z-index:15;    
    /*border:solid red;*/
}
h1
{
    margin:30px auto 0 15px ;z-index:15;
    font-size: 30px;
}
.SousTitre /*à remplacer par p class="sous_titre"*/
{
    margin-left:15px;margin-top:40px;padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;  font-size: 16px; 
    max-width:41px;
    text-align:left;
    border-bottom:solid #99E2D0;
    /*background-color:yellow;*/    
}
.entrées
{
    display: flex;
    flex-direction: column;
    gap:15px;z-index:15;
}
.plats
{
    display: flex;
    flex-direction: column;
    gap:15px;z-index:15;
}
.desserts
{
    display: flex;
    flex-direction: column;
    gap:15px;z-index:15;
}
.choix
{
    background-color: white;
    border-radius: 20px;
    margin:0 15px;
    width:90%;
    display: flex;/*flex-direction: column;*/
    gap:5px;
    padding-left:10px;overflow: hidden;
}
.visible
{
    display: flex;
    flex-direction: column;width:100%;gap:5px;/*margin:0 15px;*/overflow: hidden;
    /*border:solid red;*/
}

/**/
/*  https://www.pierre-giraud.com/html-css-apprendre-coder-cours/animation/
    animation-name: slide-top; http://animista.net
    animation-duration: Ns;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: Ns;

*/
.slide-top
{    
    opacity:0;
    -webkit-animation: slide-top 3s linear forwards 0s;
    animation: slide-top 3s linear forwards 0s;/*animation-delay: 0s; délai 0s */
}

.slide-top2 
{    
    opacity:0;
    -webkit-animation: slide-top 3s linear forwards 1s;
    animation: slide-top 3s linear forwards 1s;/*animation-delay: 1s; délai 1s */
}
.slide-top3 
{  
    opacity:0;
    -webkit-animation: slide-top 3s linear forwards 2s;
    animation: slide-top 3s linear forwards 2s;/*animation-delay: 2s; délai 2s */
}
/* ou en faire plus ? 9 ou 10 ? demander à KM */

/* ----------------------------------------------
 * Generated by Animista on 2021-10-12 19:6:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top 
{
  0% 
  {
    -webkit-transform: translateY(7px);
    transform: translateY(7px);opacity:0;
  }
  50% 
  {
    -webkit-transform: translateY(2.5px);
    transform: translateY(2.5px);opacity:0.5;
  }
  100% 
  {
    -webkit-transform: translateY(-2.5px);
    transform: translateY(-2.5px);opacity:1;
  }
}
@keyframes slide-top 
{
  0% 
  {
    -webkit-transform: translateY(7px);
    transform: translateY(7px);opacity:0;
  }
  50% 
  {
    -webkit-transform: translateY(2.5px);
    transform: translateY(2.5px);opacity:0.5;
  }
  100% 
  {
    -webkit-transform: translateY(-2.5px);
    transform: translateY(-2.5px);opacity:1;
  }
}


/**/

.bold
{
    font-weight: bold; 
    overflow: hidden;
}
.intitule
{
    margin-top:15px;
    margin-left:5px;
    /*test*/
    /*width: 100%;*/ /* demander à KM */
    /* Les deux règles suivantes sont nécessaires pour text-overflow 
    - https://developer.mozilla.org/fr/docs/Web/CSS/text-overflow */
    /*white-space: nowrap;*/
    overflow: hidden;
    /*text-overflow: ellipsis;
     
    display: inline-block; /*https://medium.com/@surbhisoni241/why-css-text-overflow-ellipsis-not-working-968814b43370*/
    /**/
}
.intitule p 
{
/* Les deux règles suivantes sont nécessaires pour text-overflow 
    - https://developer.mozilla.org/fr/docs/Web/CSS/text-overflow */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   /* display: inline-block; /*https://medium.com/@surbhisoni241/why-css-text-overflow-ellipsis-not-working-968814b43370*/    
}
.detail_prix
{
    display: flex;flex-direction:row;gap:5px;justify-content: space-between;   align-items:baseline;cursor: pointer;
    /*border:solid purple;*/flex-wrap:nowrap; 
    
}
.detail
{
    /*border:solid yellow;*/
    flex:3;
    margin-left:5px;
    font-size:13px;   
    /*width: 100px; /* demander à KM */
    /* Les deux règles suivantes sont nécessaires pour text-overflow 
    - https://developer.mozilla.org/fr/docs/Web/CSS/text-overflow */
   /* white-space: nowrap;*/
    overflow: hidden;
    /*text-overflow: ellipsis;
    display: inline-block; /*https://medium.com/@surbhisoni241/why-css-text-overflow-ellipsis-not-working-968814b43370*/
}
.detail p
{
  /* Les deux règles suivantes sont nécessaires pour text-overflow 
    - https://developer.mozilla.org/fr/docs/Web/CSS/text-overflow */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*display: inline-block; /*https://medium.com/@surbhisoni241/why-css-text-overflow-ellipsis-not-working-968814b43370*/
}   

.prix
{
    /*border:solid lightgreen;*/
    flex:1;
    text-align: end;
    margin-right:15px;
    margin-bottom:15px;font-size:13px;
}
.check
{
    display: none;
    cursor: pointer;    
}
.choix:hover .check /*pour faire apparaître le check*/
{
    display:flex;
    font-size:22px;
    color:white;
    background-color: #99E2D0; 
    cursor: pointer;
    justify-content: center;
    align-items: center;
    z-index:15;
    height:100%; min-height:69px;
    max-width:58px;width:100%;
    border-bottom-right-radius: 20px;border-top-right-radius: 20px;
    flex-wrap: wrap;
    /*border:solid rgb(146, 60, 9);*/
}
.Commander
{
    margin-top:50px;margin-bottom:80px;
    /*padding-left:92px;*/ 
    margin-right:auto;
    margin-left: auto;
    display:flex;justify-content: center;
}

.Commander--input
{
    cursor:pointer;
    width:219px;
    height:53px;
    color:white;
    background: #E16FDA;
    background: -webkit-linear-gradient(to bottom right, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
    background: -moz-linear-gradient(to bottom right, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
    background: linear-gradient(to bottom right, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    border-radius: 25px; 
    margin:20px auto 30px auto;/* à vérifier */
    cursor: pointer;font-family: 'Roboto', sans-serif;  font-size:15px;
    border:transparent;
    box-shadow: 6px 6px 4px  #808080;   
}
.Commander--input:hover
{
    filter: brightness(110%);
    box-shadow: 6px 6px 4px  black;   
}


/* footer */
.footer
{
    display:flex;
    flex-direction: column;
    background-color:/*rgb(47, 47, 47);*/#353535;
    margin-top:60px;
    color:white;
}

footer>h3
{
    margin-left:15px;
    font-family: 'shrikhand', sans-serif;   
    font-size:  18px;   font-weight: 400;
    margin-bottom:25px; margin-top:25px;
}

.footer__bottom
{
    display:flex;
    flex-direction:column;
    gap:20px;
    margin-left:15px;
    margin-bottom:35px;
}

.footer__bottom_row
{
    display:flex;
    flex-direction:row;   gap:10px;    
}

footer a
{
    color:white;
}

footer a:hover
{
    color:/*#99E2D0;*/#FF79DA;/*#9356DC;*/   
}

/*@media screen and (min-width:701px)
{
    .footer__bottom
    {
        flex-direction:row;    
        /*border:solid pink;*/
        /*width:80%;gap:50px;
    }  
}*/

@media screen and (min-width:756px)
{
    
    .gastronomie__LaCarte
    {
        gap:30px;
    }
    .entrées, .plats, .desserts
    {
        flex-direction: row;
        /*border:solid red;*/
       
    }
    .SousTitre
    {
        /*border:solid lightsalmon;*/      
        margin-top:10px;  margin-right:30px;
        max-height:28px;
        padding-top:0;padding-bottom: 2px;
        
    }
    /*.choix
    {
        border:solid yellow;    
    }*/

}