/* main */
main
{
    background-color:white;
}

/* article localisation */
.localisation
{
    /*border: 2px solid green;*/
    /*border-top:5px solid transparent;*/
    background-color: #eaeaea;/*#eeeded;*/
    display:flex;justify-content:center;
    height:50px;
   /* box-shadow: 1px -2px rgb(102, 101, 101);*/
   /*box-shadow: inset 0em 0.125em rgba(128, 128, 128, .152);box-shadow: inset 0em 0.125em #d5d5d5;*/
   box-shadow: inset 0em 0.125em rgba(128, 128, 128, .152);

    &__ville
    {
        /*border:solid pink;*/
        margin-top:8px;  margin-left:40px; 
        display:flex;justify-content:center;  
        gap:10px;height:30px;    
    
        &_PositionVille
        {
            /*background-color: #F2F2F2;*/
            max-width:55px;width:100%;
            font-size:18px;
            /*height:65px;*/ height:100%;
            align-content: center;   
            display:flex;
            justify-content:center;
            align-items:center;         
        }

        &_VilleChoisie
        {
            font-size:18px; font-family: 'Roboto', sans-serif;   
            font-weight: 500; color:black;
            display:flex;
            justify-content:flex-start;align-content: flex-start;
            align-items:flex-start;   
            max-width: 185px;
            /*height:30px;*/ 
            /*margin-left:15px;*/
            background-color: /*#eeeded*/#eaeaea;
            border:none;
        }    
    }
}


/* article descriptif */
.descriptif
{
    display: flex;
    flex-direction: column;justify-content: center;
    row-gap:30px;
    margin: 0 auto;
    /*border:solid lawngreen;*/
    background-color:/*#F2F2F2;*/#f6f6f6;
    height:289px;

    &__intro
    {
        margin: 0 auto ;
        /*padding-left:50px;*/
        display:flex;justify-content:center;align-items:center;
        /*border:solid pink;*/
        text-align: center;width:75%;
    }

    &__input--button
    {
        width:219px;
        height:53px;
        color:white;
        background-color:blueviolet;
        border-radius: 25px; 
        margin:20px auto 30px auto;
        cursor: pointer;font-family: 'Roboto', sans-serif; 
    }
}



h1 /* 1 seul h1 dans la page, faut-il lui jouter le préfixe descrptif_info ? */
{   
    font-family: 'Roboto', sans-serif;   
    font-size:  23px;   font-weight: 700;
    margin-top:20px;
    /*border:solid pink;*/
    width:90%;

}



/* article fonctions */
.fonctions
{
    display:flex;
    flex-direction: column;
    gap:22px;
    background-color: white;
   /* border:solid cornflowerblue;*/
    margin-bottom:70px;

    &__options
    {
        display:flex;
        gap:22px; flex-direction: column;

        &_choix
        {
            border-radius:20px;
            /*width:326px;*/min-height:73px;
            /*min-width: 300px;*/ 
            margin-left:25px; margin-right:18px;
            background-color:/*lightblue;*/#f6f6f6;
            display:flex; flex:1;
            justify-content:flex-start;
            align-items: center;
            gap:20px;
            /*padding-left:40px;*/
            @include shadow;   /* à vérifier */
            cursor: pointer; 
        }   

        &_bulle
        {
            position:relative;
            top:0;
            /*right:3rem;*/left:-0.75rem;
            background-color:/*pink;*/#9356dc;color:white;
            width:30px;height:30px;
            border-radius: 50%;
            display:flex;
            justify-content: center;
            align-items: center;
            /*border:solid red;*/
        }


    }


}

.fonctions>h2
{
    margin-left:15px;
    font-family: 'Roboto', sans-serif;   
    font-size:  20px;   font-weight: 700;
    margin-top:50px;
}

a.fonctions__options_choix:hover 
{
    background-color:#f5edff;  
}

/*
https://www.zonecss.fr/proprietes-css/hover-css-selector.html
identifiant:hover a{
 propriétés Css pour les fils de type A de l'élément survolé  
}
donc chez moi i
*/
a.fonctions__options_choix:hover i
{
    color:#9356dc;
}


.fonctions__options i
{
    color:#7e7e7e;
    font-size:16px;
}

/* article restaurants */
.restaurants
{
    display:flex;
    flex-direction: column;
    margin-top:70px;
    /*border:2px solid orangered;*/
    margin-bottom:60px;
    background-color:/*#F2F2F2;*/#f6f6f6;

    &__ContainerFlex
    {
        /*border:solid green;*/
        column-gap:25px;

        &_Resto
        {
            background-color: white;
            border:5px solid;
            border-color:transparent;
            border-radius: 25px; 
            /*min-width:232px;flex:1;*/
            display:flex;flex:1;
            flex-direction:column;
            flex-wrap:wrap;
            font-size: 16px;    
            margin-left:15px;
            margin-right:15px;
            margin-bottom:15px;
            /*width:100%;*/
            height:100%;
            @include shadow;
            /*background-color: purple;*/

            &:hover,  &hover .class_bold 
            {
                /*background-color:#99E2D0;*/
                color:#9356DC; border-radius: 25px;  
                /*border-color:#FF79da;*/background-color:#f5edff;
            }

        }

    }
}

#restaurants>h2 /* à vérifier */
{
    margin-left:15px;
    font-family: 'Roboto', sans-serif;   
    font-size:  20px;   font-weight: 700;
    margin-top:50px;  
    margin-bottom:30px;
}

/*.ContainerNew
{
    display:flex;border:solid green;z-index:5;
}*/
/*à vérifier avec KM */
.nouveau
{
    position:relative;z-index:5;
    top:-16rem;left:16rem;
    /*left:50%*/;/*right:10rem;*/
    /*left:20rem;*/
    background-color:#99E2D0;color: #058a69;
    width:80px;height:30px;
    border-radius: 3px;
    display:flex;flex:1;
    justify-content: center;
    align-items: center;
    font-size:16px;
    /*border:solid orange;*/

    &:hover 
    {
        color:#9356DC; background-color:#f5edff;   
    }


}

.class_top
{
    height:175px;/*118px;*/
    @include thumbnail;
}

.class_bottom
{
    @include thumbnail;
    /*workaround  bug in chrome */
    font-size:16px;
    display: flex;
    flex-direction:column ;
    justify-content: flex-start;gap:5px;
    padding-top:20px;
    padding-bottom:10px;
    padding-left:15px;
    height:77px;
}

.class_bold
{
    @include bold;
}

