/* article descriptif */
.descriptif
{
    display: flex;
    flex-direction: column;justify-content: center;
    row-gap:30px;
    margin: 0 auto;
    /*border:solid lawngreen;*/
    background-color:/*#F2F2F2;*/#f6f6f6;
    height:289px;

    &__intro
    {
        margin:0px auto ;
        /*padding-left:50px;*/
        display:flex;justify-content:center;align-items:center;
        /*border:solid pink;*/
        text-align: center;width:75%;
    }

    &__input--button
    {
        width:219px;
        height:53px;
        color:white;
        /*background-color:blueviolet;*/
        background: #E16FDA;
        background: -webkit-linear-gradient(to bottom right, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
        background: -moz-linear-gradient(to bottom right, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
        background: linear-gradient(to bottom right, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
        /*-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;*/
        border-radius: 25px; 
        margin:20px auto 30px auto;
        cursor: pointer;font-family: 'Roboto', sans-serif; font-size:15px;
        border:transparent;
        box-shadow: 6px 6px 4px  #808080;   
        transition: box-shadow 0.3s, filter 0.3s;

        &:hover
        {
            filter: brightness(110%);
            /*box-shadow: 6px 6px 4px  black;*/   box-shadow: 6px 6px 4px  #333;   
        }
           
    }

}

h1 /* 1 seul h1 dans la page, faut-il lui jouter le préfixe descrptif_info ? */
{   
    font-family: 'Roboto', sans-serif;   
    font-size:  23px;   font-weight: 700;
    margin-top:20px;
    /*border:solid pink;*/
    width:90%;

}  