
/* section Photo de la table */
/*
https://www.zonecss.fr/faq/les-images-et-les-css.html
Vous pouvez en Css, faire en sorte qu'une image (img) s'adapte en largeur à son conteneur parent. 
Pour cela vous devez utiliser la propriété Css width à 100% sur l'image et préciser la propriété Css height à auto.
*/
.PhotoTable
{
    z-index:1;width:100%; min-height:286px;height:auto;display:flex;
    /*
        https://developer.mozilla.org/fr/docs/Web/CSS/background
        Ici on utilise une seule image, centrée  
        et remise à l'échelle 
        background: no-repeat center/80% url("../img/image.png");
    */
    background: no-repeat center/50% url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: cover;
}    
.PhotoTable2
{
    z-index:1;width:100%; min-height:286px;height:auto;display:flex;
    /*
        https://developer.mozilla.org/fr/docs/Web/CSS/background
        Ici on utilise une seule image, centrée  
        et remise à l'échelle 
        background: no-repeat center/80% url("../img/image.png");
    */
    background: no-repeat center/50% url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: cover;
}    
.PhotoTable3
{
    z-index:1;width:100%; min-height:286px;height:auto;display:flex;
    /*
        https://developer.mozilla.org/fr/docs/Web/CSS/background
        Ici on utilise une seule image, centrée  
        et remise à l'échelle 
        background: no-repeat center/80% url("../img/image.png");
    */
    background: no-repeat center/50% url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: cover;
}   
.PhotoTable4
{
    z-index:1;width:100%; min-height:286px;height:auto;display:flex;
    /*
        https://developer.mozilla.org/fr/docs/Web/CSS/background
        Ici on utilise une seule image, centrée  
        et remise à l'échelle 
        background: no-repeat center/80% url("../img/image.png");
    */
    background: no-repeat center/50% url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-size: cover;
}     
