/* article restaurants */
.restaurants
{
    display:flex;
    flex-direction: column;
    margin-top:70px;
    /*border:2px solid orangered;*/
    margin-bottom:60px;
    background-color:/*#F2F2F2;*/#f6f6f6;

    &h2/* à vérifier restaurants>h2 */
    {
        margin-left:15px;
        font-family: 'Roboto', sans-serif;   
        font-size:  20px;   font-weight: 700;
        margin-top:50px;  
        margin-bottom:30px;
    }
    
    &__ContainerFlex
    {
        column-gap:25px;display:flex;flex-direction: column;    

        &_Resto
        {
            background-color: white;
            border:5px solid;
            border-color:transparent;
            border-radius: 25px; 
            /*min-width:335px;flex:1;*/min-width:250px;
            display:flex;flex:1;
            flex-direction:column;
            flex-wrap:wrap;
            font-size: 16px;    
            margin-left:15px;
            margin-right:15px;
            margin-bottom:15px;
            box-shadow: 6px 6px 4px  grey;   

            &:hover,  &:hover .class_bold/*.restaurants__ContainerFlex_Resto:hover,  .restaurants__ContainerFlex_Resto:hover .class_bold */ 
            {
                color:#9356DC; border-radius: 25px;  
                background-color:#f5edff;
            }            

        }
    }
}


/*à vérifier avec KM */
.ContainerNew
{
    z-index:1;
    width:100%;height:175px;
    /*border:solid lawngreen;*/  
    position:relative;

    .New  
    {
        /*margin-top:-150px;
        margin-right:25px;
        margin-left:50px;*/
        
        position: absolute;
        top:10px;
        /*right:0;*/
        /*left:10px;*/
        right:10px;
    
        z-index:6;
        background-color:#99E2D0;
        color: #058a69;
        width:80px;height:30px;
        border-radius: 3px;
        display:flex;/*flex:1;*/
        justify-content: center;
        align-items: center;
        font-size:16px;font-weight:bold;  
        /*border:solid orange;*/
        /* demande de KM pas de lien sur NOUVEAU*/
        pointer-events:unset; 
        cursor:default; 
    }
    


}


.class_top
{
    width:100%;
    height:175px;/*118px;*/
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    cursor: pointer;
}

.class_bottom
{
    width:100%; 
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    cursor: pointer;
    /*workaround  bug in chrome */
    font-size:16px;
    display: flex;
    flex-direction:column ;
    justify-content: flex-start;gap:5px;    
    height:77px;/*height:100%;*/
    gap:14px;
}

.FlexView
{
    display: flex;
    flex-direction: column;
    gap:5px;
    /*border:solid blue;*/
    width:100%; height:100%;height:78px;
    padding-top:20px;padding-left:15px;padding-bottom:10px;

    .class_bold
    {
        /*font-weight:bold;
        font-size:16px;*//*workaround  bug in chrome */
        @include bold;
    }
}

.Container_coeur
{
    display: flex;flex-direction: row;;
    position: relative;   
    
    .coeurplein, .coeurvide
    {
        font-size:24px;font-weight:100;
        position: absolute;
        top:-70px;right:20px;    /*border:solid pink;*/
        /*color:white;*/
    }
    
}


i.coeurplein
{
    opacity:0;z-index:8;
   
    &:hover /* i.coeurplein:hover */
    {
        /*z-index:8;*/
        animation: fillheart 0.3s linear forwards;
        opacity:1;
    }

}
i.coeurvide
{
    z-index:6;opacity: 1;

    &:hover /* i.coeurvide:hover */
    {
        opacity:0;z-index:1;
    }


}

i.coeurplein:before, i.coeurvide:before /* vérifier si vraiment utile */
{
    display: initial;
}

@keyframes fillheart
{
    0% 
    {
        opacity: 0.25;background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;font-size:24.25px;
    }
    25%
    {
        opacity: .33;background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;font-size:24.25px;
    }
    50%
    {
        opacity: .50;background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;font-size:24.25px;
    }
    75%
    {
        opacity: .75;background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;font-size:24.25px;
    }
    100%
    {
        opacity: 1;background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;font-size:24.25px;
    }
}




